html, body {
    background: rgb(253, 242, 242);
    font-family: Roboto;
    text-align: center
}

h1 {
    font-size: 40px;
    text-align: center;
    color: lightsalmon;

}
#root{
display:none;
}
// #adminSignUP ,#adminSignIN, #adminConfirm {
//     display:none;
// }